<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.andrews.cptr252.aisensee.quizer">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/quizer_launcher_icon"
        android:roundIcon="@mipmap/quizer_launcher_icon_round"
        android:logo="@mipmap/quizer_launcher_icon_foreground"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestionDetailsActivity"></activity>
        <activity android:name=".AddQuestionsActivity" />
        <activity android:name=".QuizActivity"/>
    </application>

</manifest>